@using Dominio
@model List<Pago>

    <h1>Todos los pagos del equipo</h1>
    
<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Descripción</th>
        <th>Tipo de Gasto</th>
        <th>Método de pago</th>
        <th>Monto</th>
    </thead>
    <tbody>
        @foreach(Pago unP in Model)
        {
            <tr>
                <td>@unP.Usuario.Nombre</td>
                <td>@unP.Usuario.Apellido</td>
                <td>@unP.Usuario.Email</td>
                <td>@unP.Descripcion</td>
                <td>@unP.TipoGasto</td>
                <td>@unP.MetodoPago</td>
                <td>@unP.Monto</td>
            </tr>
        }
    </tbody>
</table>

<form method="get" action="/Payments/AllPayments">

    <label>Mes</label>
    <input type="number" name="mes" min="1" max="12" value="@ViewBag.Mes" />

    <label>Año</label>
    <input type="number" name="anio" min="2000" max="2100" value="@ViewBag.Anio" />

    <input type="submit" value="Filtrar" />
</form>